.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 2rem;
  padding: 2rem;
  justify-items: center;
}

.product-card {
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 100%;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
}


.product-card:hover {
  transform: scale(1.03);
}

.product-name {
  font-size: 1.1rem;
  margin: 1rem 0 0.5rem;
  color: #111827;
}

.product-tag {
  font-size: 0.9rem;
  color: #6b7280;
  margin-bottom: 0.5rem;
}

.product-price {
  font-weight: bold;
  color: #047857;
  font-size: 1rem;
}

.buy-btn {
  margin-top: 1rem;
  background-color: #136936;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.buy-btn:hover {
  background-color: #0f5c2c;
}
.viewall {
  margin-top: 10rem; 
  margin-left: 2rem;
  padding: 0.5rem 1.5rem;
  background-color: #136936;
  color: white;
  border: none;
  border-radius: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.viewall:hover {
  background-color: #0f5c2c;
}

.button {
  text-align: center; 
}

.detail-container {
  display: flex;
  gap: 2rem;
  padding: 2rem;
  background: #f0fff5;
}

.detail-image {
  width: 300px;
  border-radius: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.detail-info {
  flex: 1;
}

.detail-info h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.detail-info .tagline {
  color: #888;
  margin-bottom: 1rem;
}

.buy-btn {
  background-color: #006400;
  color: white;
  padding: 0.75rem 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}


.alert-message {
  background-color: #dff0d8;
  color: #3c763d;
  padding: 0.75rem;
  margin: 1rem;
  border-radius: 0.5rem;
  text-align: center;
  font-weight: bold;
  animation: fadeInOut 1.5s ease-in-out;
}

@keyframes fadeInOut {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
}